body{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: darkgrey;
}

.content{
    display: flex;
    flex-direction: row;
    background-size: cover;
    
    padding: 0;
    height: 100vh;
}

.left-container{
    width: 30%;
}

.messages{
    background-color: aquamarine;
    border: 1px black solid;
    
    height: 60%;
}

.player-info{
    height: 15%;
    margin: 5px 0px 5px 0px;
    background-color: lightskyblue;
    border-radius: 50%;
}

.player1{
    color: white;
    border: 2px solid lightskyblue;
    /* background: white; */
}
.player2{
    color: black;
    border: 2px solid lightskyblue;
    /* background: black; */
}

.matchfield{
    display: flex;
    flex-direction: column;
    
    width: 100%;
    margin: 5px 5px 5px 5px ;
    border: 1px black ;
}

.title{
    border: 1px black solid;
    margin: 0;
    padding: 0;
    background-color: cornsilk;
}

.match_grid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    margin: 5px 0px 0px 0px ;
    padding: 0;
    border: 1px black solid;
    height: 100%;

    background-color: lightskyblue;
}

.cell{
    border: 1px red dotted;
    cursor: pointer;
}
.cell:hover{
    border: 1px red solid;

}